.beer-info {
  width: 80%;
  background: white;
  margin: 0 auto;
  height: 500px;
}
.beer-info img {
  width: 50%;
  float: left;
}

.stores {
  background: var(--lcbo-medium-brown);
  position: relative;
  margin: 0 auto;
  top: 100vh;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.store-card {
  padding: 5px;
  width: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  border: solid 1px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.card {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 80%;
  height: 80vh;
  background: #000000;
  box-shadow: 0px 18px 72px rgba(0, 0, 0, 0.4);
}

.card-image img {
  height: 80vh;
  float: left;
}

.card .content {
  height: 100%;
  position: absolute;
  left: 40%;
  width: 60%;
}

.card .content .desc {
  margin: 20px 20px 50px 20px;
  color: #ffffff;
  line-height: 2;
  word-wrap: break-word;
}

.card .content .desc span {
  opacity: 0.5;
}

.button-wrap {
  text-align: center;
}

.button {
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #ffffff;
  border-top: 0.15rem solid var(--lcbo-brown);
  border-bottom: 0.15rem solid var(--lcbo-grey);
  box-shadow: 0 1rem 2rem rgba(165, 186, 187, 0.2);
  transition: transform 300ms ease;
}
.button:before,
.button:after,
.button__hover {
  content: "";
  position: absolute;
  top: -1%;
  height: 102%;
  width: 0.15rem;
  background: linear-gradient(var(--lcbo-brown), var(--lcbo-grey));
}
.button:before {
  left: 0;
}
.button:after {
  right: 0;
}

.button:hover {
  -webkit-transform: translatey(-0.5rem);
  transform: translatey(-0.5rem);
}
